.zzz-o-header {
  --mt: #{px2rem(40px)};
  --ml: #{px2rem(17px)};
  --mr: #{px2rem(16px)};
  --mb: #{px2rem(50px)};
  --br: #{px2rem(12px)};

  margin: var(--mt) var(--mr) var(--mb) var(--ml);

  @include desktop {
    --mt: #{px2rem(16px)};
    --ml: #{px2rem(51px)};
    --mr: #{px2rem(50px)};
    --mb: #{px2rem(60px)};
  }

  @include desktop-xl {
    --mt: #{px2rem(18px)};
    --mb: #{px2rem(80px)};
  }

  &__top-bar {
    background-image: url(/assets/images/top-banner.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: px2rem(14px) 0;
    border: px2rem(2px) solid $grey-15;
    border-radius: px2rem(8px);

    .zzz-a-link-with-icon {
      align-items: center;
      color: $grey-15;
      gap: px2rem(10px);
      text-decoration: none;

      font-weight: 500;
      font-size: px2rem(14px);
      line-height: 150%;

      @include desktop {
        font-size: px2rem(16px);
        gap: px2rem(14px);

        svg {
          width: px2rem(24px);
          height: px2rem(24px);
        }
      }

      @include desktop-xl {
        font-size: px2rem(20px);

        svg {
          width: px2rem(30px);
          height: px2rem(30px);
        }

      }
    }
  }

  &__hamburger-icon {
    background: $orange-95;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: px2rem(17px) px2rem(30px);
    border-top-right-radius: var(--br);
    border-bottom-right-radius: var(--br);
    border-left: px2rem(2px) solid $grey-15;
    cursor: pointer;

    @include desktop {
      display: none;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--br);
    background: $white;
    border: px2rem(2px) solid $grey-15;
    margin-top: px2rem(14px);
  }

  &__logo-container {
    background: $orange-65;
    padding: px2rem(16px) px2rem(20px);
    border-top-left-radius: var(--br);
    border-bottom-left-radius: var(--br);
    border-right: px2rem(2px) solid $grey-15;

    @include desktop-xl {
      padding: px2rem(20px) px2rem(24px);
    }
  }

  &__logo {
    height: px2rem(30px);

    @include desktop {
      height: px2rem(34px);
    }

    @include desktop-xl {
      height: px2rem(40px);
    }
  }

  &__links {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;

       a {
         text-decoration: none;
         color: inherit;
       }
    }
  }

  &__desktop-links {
    display: none;

    @include desktop {
      display: flex;
    }

    li {
      border-left: px2rem(2px) solid $grey-15;

      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      padding: px2rem(21px) px2rem(30px);

      @include desktop-xl {
        padding: px2rem(25px) px2rem(34px);

        font-size: 20px;
      }

      &:last-of-type {
        background: $orange-75;
        border-top-right-radius: var(--br);
        border-bottom-right-radius: var(--br);
      }

      &:has(a.zzz-a-link--active) {
        background: $orange-95;
      }
    }
  }
}
