$white: var(--white);
$black: var(--black);

$orange-65 : var(--orange-65);
$orange-70 : var(--orange-70);
$orange-75 : var(--orange-75);
$orange-80 : var(--orange-80);
$orange-90 : var(--orange-90);
$orange-95 : var(--orange-95);
$orange-97 : var(--orange-97);
$orange-99 : var(--orange-99);

$grey-10: var(--grey-10);
$grey-15: var(--grey-15);
$grey-20: var(--grey-20);
$grey-30: var(--grey-30);
$grey-35: var(--grey-35);
$grey-40: var(--grey-40);
$grey-60: var(--grey-60);
$grey-70: var(--grey-70);
